/* nav or banner section */
nav {
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    margin: 50px 140px;
    background-image: url('../imeges/Banner\ Image.png');

}

/* banner styless */

.banner-text {
    color: #FFF;
    text-align: center;

}

.banner-title {}

#litle-title {

    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;
}

#big-title {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* section one styles */
.one {
    width: 1600px;
    /* height: 7335px; */
    background-color: #FFF;
    text-align: center;
    margin: 50px 300px 120px 30px;
}

#head-one {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}

#holiday {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;

}

#head-two {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    /* font-weight: 700; */
    margin-top: 0;
}